*.o
*.a
*.lo
*.la
*.so
*.obj
*.d
Makefile
Makefile.bak

*~
*.swp
*.swo
\#*\#
.\#*
*.patch

engines/phalanx/phalanx
engines/phalanx-scid/phalanx-scid
engines/toga/src/.depend
engines/toga/src/a.out
engines/toga/src/fruit
engines/togaII1.2.1a/src/.depend
engines/togaII1.2.1a/src/togaII
pgnfix
pgnscid
sc_addmove
sc_eco
sc_epgn
sc_import
sc_remote
sc_spell
sc_tree
scid
scidlet
scidpgn
scidt
scmerge
spf2spi
spliteco
tcl/sharedir.tcl
tcscid
tkscid

